<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h3>Login</h3>
    <form action="" onsubmit="postLogin(event)">
      <label for="email">Email :</label>
      <input type="email" name="email" id="email" placeholder="Enter Email" required>
      <label for="password">Password :</label>
      <input type="password" name="password" id="password" placeholder="********" required>
      <button type="submit">Login</button>
    </form>    
    <a href="http://localhost:7000/password"><button>Forgot Password</button></a>
    <a href="http://localhost:7000/signup">New User ---Sign Up</a>
    <div id="cont"></div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script>
    let api='http://localhost:7000/user';
    let cont=document.querySelector('#cont');
  
     function postLogin(event){
        event.preventDefault();

        let userLogin={
        email:document.querySelector('#email').value,
        password:document.querySelector('#password').value
           }
    axios.post(`${api}/login`,userLogin)
         .then((res)=>{
            clearInputs();
            alert("Login Successful");
            console.log("res data",res.data);
            localStorage.setItem('token',res.data.token); 
            localStorage.setItem('isPremium',res.data.isPremium);  
            if(res.status===200){
                window.location.href=`http://localhost:7000/addexpense`;
            }
         })
         .catch((err)=>{
            cont.innerHTML='';
            console.log("err",err.response.data);
            let data=JSON.stringify(err.response.data);
            cont.innerHTML=`${data}`;
         })
     }
     function clearInputs(){
        document.querySelector('#email').value='';
        document.querySelector('#password').value='';
      }


    
</script>
</html>