<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <form action="" onsubmit="postPassword(event)">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Registered Email" required>
        <button type="submit">send link</button>
    </form>
    <div id="cont"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script>
    let api=`http://localhost:7000/password`;
    let cont=document.querySelector('#cont');

   function postPassword(event){
          event.preventDefault();
          let emailD={
            email:document.querySelector('#email').value
          }

          axios.post(`${api}/forgotpassword`,emailD)
          .then(res => {
                cont.innerHTML = '';
                cont.innerHTML = res.data.message;
                document.querySelector('#email').value='';
            })
            .catch(err => {
                cont.innerHTML = '';
                cont.innerHTML = err.response.data.Error;
            });
   }

    
</script>
</html>