<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <form action="" onsubmit="resetPassword(event)">
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" placeholder="Enter new password" required>
        <button type="submit">Reset Password</button>
    </form>
    <div id="cont"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script>
    const api = 'http://localhost:7000/password';
    const cont = document.querySelector('#cont');
    const urlParams = new URLSearchParams(window.location.search);
    const requestId = urlParams.get('id');

    function resetPassword(event) {
        event.preventDefault();
        const password = document.querySelector('#password').value;

        axios.post(`${api}/resetpassword/${requestId}`, { password })
            .then(res => {
                cont.innerHTML = res.data.message;
                document.querySelector('#password').value = '';
            })
            .catch(err => {
                cont.innerHTML = err.response.data.Error;
            });
    }
</script>
</html>
